/* src/components/About/about.css */

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-bio-text {
  max-width: 50%;
}

.portrait-container {
  display: flex;
  justify-content: center;
  max-height: 30rem;
}

.portrait {
  max-width: 100%;
  object-fit: contain;
  margin-bottom: 2rem;
}

.tech-row-container {
  display: flex;
  justify-content: center;
}

.tech-row {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .about-container {
    flex-direction: column-reverse;
  }

  .about-bio-text {
    max-width: 100%;
  }

  .portrait-container {
    align-items: center;
    max-height: none;
  }

  .tech-row {
    flex-direction: column;
  }
}
